.img {
  width: 400px;
  height: 400px;
}

div {
  //   background: linear-gradient(to top, rgb(26, 155, 247), rgb(199, 224, 243));
  background: linear-gradient(to top, rgb(203, 184, 108), rgb(238, 232, 209));
  height: 100%;
}

// div {
//   height: 100%;
//   background: linear-gradient(to top, blue, white);
//   background-size: 200% 200%;
//   animation: gradientMove 10s ease infinite;
// }

// @keyframes gradientMove {
//   0% {
//     background-position: 0% 100%;
//   }
//   50% {
//     background-position: 100% 0%;
//   }
//   100% {
//     background-position: 0% 100%;
//   }
// }
