.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
}

.menu-icon {
  display: none; /* Hide it for larger screens */
}

.mat-sidenav-container {
  height: 100%; /* Ensure full height */
}

/* Optional: Show menu icon only for small screens */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide links on small screens */
  }
  .menu-icon {
    display: block; /* Show hamburger icon on small screens */
  }
}
