<mat-sidenav-container class="example-container">
  <!-- Sidenav for small screens -->
  <mat-sidenav
    #sidenav
    mode="over"
    [(opened)]="isExpanded"
    fixedInViewport="true"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="closeSidenav()">Home</a>
      <a mat-list-item routerLink="/gallery" (click)="closeSidenav()"
        >Gallery</a
      >
      <a mat-list-item routerLink="/about" (click)="closeSidenav()">About</a>
      <a mat-list-item routerLink="/contact" (click)="closeSidenav()"
        >Contact Us</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Toolbar -->
  <mat-toolbar color="accent">
    <!-- Toggle button for small screens -->
    <button
      mat-icon-button
      class="menu-icon"
      (click)="toggleSidenav()"
      *ngIf="isSmallScreen"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Horizontal Navigation Links -->
    <span class="nav-links">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/gallery">Gallery</a>
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/contact">Contact Us</a>
    </span>
  </mat-toolbar>

  <!-- Main Content Area -->
  <div class="content">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>
