.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.menu-icon {
  display: none; /* Hide it for larger screens */
}

/* Optional: Show menu icon only for small screens */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide links in smaller screens */
  }
  .menu-icon {
    display: block;
  }
}
